{{>header}}
{{>nav}}
<section class="my-3 container">
    {{#if error}}
    <div class="alert alert-danger">
        {{error}}
    </div>
    {{else}}
    <div class="row">
        {{#each data}}
        <div class="col-md-3 col-12 border border-2">
            <h3>{{this.title}}</h3>
            <p>{{this.body}}</p>
            <a href="/post/{{this.id}}" class="btn btn-primary">more</a>
        </div>
        {{/each}}
    </div>
    {{/if}}
</section>
{{>footer}}